# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env
.marker_file

# Database
*.db
*.sqlite3

# Unit tests
.coverage
htmlcov/
.pytest_cache/

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo